#catering{
	background-color:white;
}

#catering-packages{
	margin:30px 0;

	&>*{
		padding:20px 0;

		&:first-child{
			border-right:1px solid $via-text-grey;
		}
	}

	.package-details{
		margin-bottom:30px;
		p{
			margin:0;
			line-height:1.5em;
			font-size:14px;
		}
	}

	.package-header{
		margin-bottom:30px;
		font-size:1.2em;
		p{
			line-height:0.5em;
		}
	}
}

.additional-info{
	p{
		margin:0;
	}
}

#truck-icon{
	margin-top:20px;
	height:100px;
	width:auto;
	position:relative;
	z-index:1;
}

#catering-bg{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-repeat:no-repeat;
	background-size:cover;
	opacity:0.2;
	z-index:0;
}

@media (max-width:767px){
	#catering-packages{
		&>*{
			padding-bottom:40px;
			&:first-child{
				border-right:0px;
				border-bottom:1px solid $via-text-grey;
			}
		}
	}
}