#header{
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  font-weight:600;
}
.minimized#header{
  .nav-bar-contents{
    transform:translateY(-100%);
  }
  .logo{
    transform:translateY(-110%);
  }
}
.nav{
  text-align:center;
  position:relative;
}
.mobile-hamburger{
  display:none;
}
.nav-items{
  padding:10px;
  flex:1 0 300px;
}
.nav-bar{
  overflow:hidden;
  align-items:center;
}
.nav-bar-contents{
  padding:30px 0;
  transition:transform .2s ease;
}

.left-nav{
  margin-right: 50px;
  text-align:right;
}
.right-nav{
  margin-left: 50px;
  text-align:left;
}
.nav-items ul{
  padding:0;
}
.nav-items li{
  list-style:none;
  display:inline;
  padding:0 10px;
  font-size:.8em;
  letter-spacing:2px;
}

.social-links > *{
  display:inline;
}
.logo-container{
  width:100%;
  position:absolute;
  top:1em;
  z-index:1000;
  overflow:hidden;
  transition:transform .2s ease;
}
.logo{
  height:100px;
  width:100px;
  margin:auto;
  transition:transform .2s ease;
}
$burger-size:1.8em;

.burger-touch-area{
  position: absolute;
  left: 5%;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  z-index: 10001;
}
.burger-container{
  width: $burger-size;
  margin:auto;
}
.mobile-burger{
  height:3px;
  width:$burger-size;
  background-color:$via-text-grey;
  position:relative;
  bottom: -$burger-size/2;
  transition:background-color .2s ease;

  &:before, &:after {
    transition:transform .2s ease;
    height:3px;
    width:$burger-size;
    background-color:$via-text-grey;
    position: absolute;
    left:0;
    content: '';
    transform-origin: .1em center;
  }
  &:before { top: 7px; }
  &:after { top: -7px; }
}
.mobile-burger.opened{
  background-color:transparent;
  &:before{
    transform: translateX(3px) rotateZ(-45deg) ;
  }
  &:after{
    transform: translateX(3px) rotateZ(45deg) ;
  }
}
#mobile-nav{
  height:100vh;
  position:absolute;
  top:0;
  left:100%;
  width:100%;
  padding: 80px 0 10px 0;
  transition: opacity 800ms cubic-bezier(.19,1,.22,1) 0ms;
  opacity:0;
  z-index:2;

  ul{
    padding:0;
    margin:0;
  }

  li{
    list-style:none;
    padding: 10px;
    overflow:hidden;

    &:before{
      width:50px;
      margin:auto;
      border-top: 1px solid rgba(0,0,0,.1);
      content:'';
      display:block;
      padding-top:20px;
    }
  }

  li:first-child{
    &:before{
      border-top: none;
    }
  }
  .social-link-container{
    margin-top:4em;
    width:100%;
    text-align:center;
  }
}
.mobile-nav-contents{
  position: relative;
  width: 100%;
  height: 100%;
}

.opened#mobile-nav{
  opacity:1;
  left:0;
}

#mobile-nav-bg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:1;
  transition: transform 800ms cubic-bezier(.19,1,.22,1) 0ms;
  transform: translateX(100%);
}

.opened#mobile-nav-bg{
  transform: translateX(0%);
}

.mobile-nav-text{
  position: relative;
  top: 0;
  opacity:0;
}

@media (min-width: 768px){
  .mobile-burger{
    display:none;
  }
}

@media (min-width: 415px) and (orientation: portrait){
  #mobile-nav {
    padding: 160px 0 10px 0;

    .mobile-nav-contents{
      font-size:1.5em;
    }
    li{
      padding:20px;
    }
  }
  .logo-container{
    &.opened{
      transform:translateY(25px);
    }
  }
}

/*iPad in portrait and below*/
@media (max-width : 768px) and (orientation: portrait) , (max-width:736px) and (orientation: landscape){ 
  .desktop{
    display:none;
  }
  .mobile-burger{
    display:block;
  }
  .logo{
    height:90px;
    width:90px;
  }
  .burger-touch-area{
    top: 35px;
  }
  #mobile-nav{
    .social-link-container{
      position:absolute;
      bottom:1em;
    }
  }
  .nav-bar-contents{
    padding:55px 0;
  }

}

/* iPhone 6 plus and below */
@media (max-width:414px) and (orientation: portrait), (max-width:736px) and (orientation: landscape){
  #mobile-nav{
    padding: 80px 0 10px 0;
  }
  .logo-container{
    top:5px;
    &.opened{
      transform:translateY(10px);
    }
  }
  .nav-bar-contents{
    padding:35px 0;
  }
  .logo{
    height:60px;
    width:60px;
  }

  .burger-touch-area{
    top: 15px;
  }

}

@media(max-width:320px){
  #mobile-nav{
    li{
      padding:5px;
    }
    ul{
      padding:0;
    }
  }
}

/* iPhone 6 plus landscape and below */
@media (max-width:736px) and (orientation: landscape){
    #mobile-nav {
      li:last-child{
        padding-bottom:40px;
      }
      ul{
        max-height: 275px;
        overflow: auto;
      }
    }
}

/* iPhone 6 landscape and below */
@media (max-width:667px) and (orientation: landscape){
    #mobile-nav ul{
      max-height: 200px;
      overflow: auto;
    }
}