#handrawn-map{
	width:100%;
	height:60vh;
}
.inline-icon{
	width:1.8em;
	height:1.8em;
	margin:auto;
	margin-bottom:.5em;
}
.hours-text{
	margin-top:1em;
	p{
		margin:0;
		margin-bottom:.2em;
	}
}
.hours-flex-parent{
	display:flex;
	flex-flow: row nowrap;
	width:100%;
	justify-content:center;
	&>*{
		flex:1 1 150px;
	}
}
.hours-left{
	text-align:right;
	margin-right:5px;
}
.hours-right{
	text-align:left;
	margin-left:5px;
}
.hours-divider{
	height:1px;
	width:5%;
	background-color:rgba(0,0,0,.3);
	margin:auto;
	margin-top:.5em;
}

#handrawn-map{
	background-image:url('https://s3-us-west-2.amazonaws.com/viagelato/images/map.png');
	background-position:50% 50%;
	background-size:contain;
	background-repeat:no-repeat;
	margin:20px 0;
}

@media (max-width:375px){
  #handrawn-map{
		background-position:20% 50%;
		background-size:cover;
	}
}

@media (max-width:320px){
	#handrawn-map{
		height:240px;
	}
}