@media (max-width:375px){
  .section{
    padding:20px 10%;
  }
  body{
    font-size:12px;
    font-weight:400;
  }
  .section-header{
    font-size:2.5em;
  }
  .section-icon{
    width: 40px;
    height: 40px;
  }
  .lines img{
    bottom:-10px;
  }
  .lg-screen{
    display:none;
  }
  .right-form-ctrls{
    position: relative;
    right: 10px;
  }
}
@media (min-width:376px){
  .sm-screen{
    display:none;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus, input:active {
    font-size: 16px;
  }
}