.edit-form-container{
	position:fixed;
	top:101px;
	bottom:0;
	right:0;
	pointer-events:none;
	overflow:auto;
	z-index:11;
	width:calc(100% - 300px);

	.top-bar{
		position:absolute;
		top:0;
		left:0;
		background-color:rgba(255,255,255,.5);
		border:none;
		padding: 10px 30px;
	}

	.kaede-input-container{
		border:1px solid white;

		&:first-child{
			margin-top:0;
		}
	}

	.new-flavor-textarea label{
		padding-top:10px;
	}

	
}
.via-edit-form{
	label{
		width:100px;
		padding-right:10px;
		text-align:right;
	}
	.form-input,textarea{
		background-color:rgba(255,255,255,.2);
		border:1px solid white;
		outline:none;
		padding:10px;
		width:calc(100% - 104px);
	}

	textarea{
		vertical-align: top;
		resize:none;
	}

	.form-item{
		margin-bottom:10px;
	}

	.invalid{
		color:rgb(255, 109, 109);
		input{
			border-color:rgb(255, 109, 109);
		}
	}
}

#submit-flavor-form{
	transition:all .3s ease;
	min-width:62px;
}

.disabled #submit-flavor-form{
	opacity: .5;
	pointer-events:none;
}


.new-flavor-file-name{
	position:relative;
	z-index:4;
	margin-left:0px;
	transition:margin .2s ease;
	word-wrap:break-word;
}

#new-form-txfm{
	transition: transform .3s ease, opacity .2s ease;
	opacity:0;
    transform: translate3d(0px,-100%,0px);
    background-color:#E4E2E2;
    min-height:100%;
}

@media (max-width:414px){
	#new-form-txfm{
	    transform: translate3d(100%,0px,0px);
	}
}

.opened #new-form-txfm{
	opacity:1;
	transform: translate3d(0px,0px,0px);
}

.toggle{
	border:1px solid white;
	display:inline-block;
	position:relative;
	background-color:rgba(255,255,255,.2);
	&>*{
		padding:10px 20px;
		width:65px;
		display:inline-block;
		text-align: center;
		position:relative;
		z-index:2;
		cursor:pointer;
	}
	&:after{
		content:'';
		position:absolute;
		width:65px;
		height:40px;
		left:0;
		top:0;
		z-index:1;
		background-color:rgba(0,0,0,.1);
	}
}
.edit-form-container.opened{
	pointer-events:auto;
}
.new-flavor-img-preview{
	width:200px;
	position:relative;
	img{
		width:200px;
		height:auto;
	}
}
.via-form-content{
	padding:100px 40px 30px 40px;
}

@media (max-width:414px){
	.via-form-content{
		padding:80px 20px 30px 20px;
	}
	.edit-form-container{
		top:0;
		left: 0;
  		width: 100%;
  		.top-bar{
  			position:fixed;
  			padding:10px 0;
  		}
	}
	.via-edit-form{
		label{
  			display:block;
  			margin-bottom:5px;
  			text-align:left;
  		}

  		.form-input,textarea{
  			width:100%;
  		}
  	}
	.img-uploader-container{
		text-align:center;
		.new-flavor-img-preview{
			margin:auto;
		}
	}
	#edit-flavor-library .top-bar>*{
		flex:1 1 60px;
	}
	.form-title{
		align-self:center;
		flex: 2 1 100px;
		text-align:center;
	    .form-title-text{
			margin:0;
			white-space: nowrap;
		    text-overflow: ellipsis;
		    width: 200px;
		    overflow: hidden;
	    }
	}
	.icon-arrow.icon-180{
		font-size:2em;
		padding-bottom:2px;
	}
	.toggle:after{
		height:37px
	}
}

@media (max-width:375px){
	.form-title .form-title-text{
	    width: 150px;
	}
}