#press{
	.press-slides{
		width:auto;
		min-width:100%;
		display:flex;
		flex-flow:row wrap;
		margin-top:25px;
		justify-content: center;
	}
}
.slide-holder{
	margin:0 22px;
	min-width:120px;
	height: 300px;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	&.vert{
		max-width:150px;
	}
}
.press-pub-title{
	text-transform:uppercase;
	position: absolute;
	bottom: -1em;
	width: 100%;
	line-height: 1.2em;
}

@media (min-width:769px){
	#press{
		padding:5% 10%;
	}
	.slide-holder{
		width:200px;
	}
}

@media (max-width:414px){
	.slide-holder{
		max-width: 130px;
		height: 180px;
		margin: 0 10px;
		&.vert{
			max-width: 125px;
			height: 220px;
		}
		  
	}
}



@media (max-width:320px){
	.slide-holder{
		max-width: 100px;
		height: 180px;
		margin: 0 4px;
		&.vert{
			max-width: 105px;
			height: 220px;
		}
		  
	}
}