.slide-holder{
	margin-right:50px;
}
.press-pub-title{
	text-transform:uppercase;
}
@media (max-width:414px){
	.slide-holder{
		margin-right:30px;
	}
}

@media (min-width:769px){
	.slide-holder{
		width:200px;
	}
}