#slideshow, .slide{
	height:75vh;
}
#slideshow{
	margin-top: 140px;
	position:relative;
}
#slideshow-arrow-holder{
	position:absolute;
	width:100%;
	height:100%;
	display:flex;
	flex-flow:row nowrap;
	&>*{
		flex:1 1 auto;
		height:100%;
	}
}
.no-touch #slideshow-arrow-holder{
	z-index:1;
}
#slickSlides{
	margin-bottom:0;
}

.slide{
	position: relative;
	background-size:cover;
	background-repeat:norepeat;
	
	img{
		width: auto;
		height: 100%;
		position: absolute;
	}
}

.abs-full-width{
	position: absolute;
  	top: 0;
  	width:100%;
}
#openSign{
	padding: 3px 10px;
	margin:auto;
	width: 250px;
  	text-align: center;
  	font-size:24px;
  	position:relative;
}
.open-text-container{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.open-text{
	text-align:center;
	width:100%;
	padding-top:20px;
}
.open-hours{
	font-size:12px;
	letter-spacing:1px;
	font-weight:500;
}

.slick-dots{
	z-index:1;
	li button:before{
		transition:font-size .2s ease;
		content: "\20DD";			//open dot
		opacity:1;
	}
	li.slick-active button:before{  //solid dot
		content: "\2B24";
		font-size: 7px;
	}
}

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  #slideshow, .slide {
    height: 768px; //1024*.75
  }
}
 
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  #slideshow, .slide {
    height: 576px; //768*.75
  }
}

/**
 * iPhone 6
 */
@media screen and (device-aspect-ratio: 375/667) {
  #slideshow, .slide {
    height: 267px;  //667*.4
  }
}
 
/**
 * iPhone 5
 */
@media screen and (device-aspect-ratio: 40/71) {
  #slideshow, .slide {
    height: 227px;  //568*.4
  }
}

/**
 * iPhone 4
 */
@media screen and (device-aspect-ratio: 320/480) {
  #slideshow, .slide {
    height: 192px;  //480*.4
  }
}

/* iPhone 6 and below */
@media (max-width : 768px){
	#slideshow{
		margin-top: 110px;
	}
}

@media (max-width : 414px){
	#openSign{
		width:150px;
	}
	.open-text{
		padding-top:15px;
	}
	.open-msg{
		font-size:16px;
	}
	.open-hours{
		font-size:8px;
	}
	.slick-dots{
		bottom:-35px;
	}
	.slick-dots li.slick-active button:before {
		font-size:5px;
	}
	.slick-dots li button:before{
		font-size:4px;
	}
}

@media (max-width:375px) and (orientation: portrait){
	#slideshow{
		margin-top: 70px;
	}
}