#slideshow, .slide{
	height:75vh;
}
#slideshow{
	margin-top: 160px;
	position:relative;
}
#slickSlides{
	margin-bottom:0;
	overflow:hidden;
}

.slide{
	position: relative;
	
	img{
		width: auto;
		height: 100%;
		position: absolute;
	}
}

.abs-full-width{
	position: absolute;
  	top: 0;
  	width:100%;
}
#openSign{
	padding: 3px 10px;
	background-color: rgba(255,255,255,.2);
	border-radius: 0 0 4px 4px;
	margin:auto;
	width: 150px;
  	text-align: center;
  	font-size:24px;
}

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  #slideshow, .slide {
    height: 768px; //1024*.75
  }
}
 
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  #slideshow, .slide {
    height: 576px; //768*.75
  }
}

/**
 * iPhone 6
 */
@media screen and (device-aspect-ratio: 375/667) {
  #slideshow, .slide {
    height: 267px;  //667*.4
  }
}
 
/**
 * iPhone 5
 */
@media screen and (device-aspect-ratio: 40/71) {
  #slideshow, .slide {
    height: 227px;  //568*.4
  }
}

/**
 * iPhone 4
 */
@media screen and (device-aspect-ratio: 320/480) {
  #slideshow, .slide {
    height: 192px;  //480*.4
  }
}

/* iPhone 6 and below */
@media (max-width : 768px){
	#slideshow{
		margin-top: 110px;
	}
}