<template name="editUsers">
	<div id="edit-users">
		<div class="top-bar">
			<div class="left-form-ctrls sm-screen" id="new-form-ctrls">
				<button class="btn-no-line cancel-create-flavor">
					<span class="icon-arrow icon-180"></span>
					<span class="mobile-back-action-title">cancel</span>
				</button>
			</div>
			<div class="form-title">
				<h3>Create New User</h3>
			</div>
			<div class="right-form-ctrls" id="new-form-ctrls">
				<button class="btn-line" id="create-user">create</button>
			</div>
		</div>
		<form action="" class="via-edit-form via-form-content dark-inputs" id="new-user-form">
			<div class="new-flavor-name form-item">
				<label for="new-press-name">username</label>
				<input class="form-input is-required" type="text" id="input-press-title" name="new-press-title">
			</div>
			<div class="form-item {{pubInvalid}}">
				<label for="new-press-name">password</label>
				<input class="form-input" type="password" name="input-press-publication">
			</div>
			<div class="form-item">
				<label for="new-press-name">confirm password</label>
				<input class="form-input" type="password" name="input-press-author">
			</div>
		</form>
		<div class="top-bar">
			<div class="left-form-ctrls sm-screen" id="new-form-ctrls">
				<button class="btn-no-line cancel-create-flavor">
					<span class="icon-arrow icon-180"></span>
					<span class="mobile-back-action-title">cancel</span>
				</button>
			</div>
			<div class="form-title">
				<h3>Existing Users</h3>
			</div>
		</div>
		{{#each existingUsers}}
			<div>{{username}}</div>
			<div>{{createdAt.$date}}</div>
			<div>{{authorizations}}</div>
		{{/each}}
	</div>
</template>