<template name="editDash">
	<div id="edit-dashboard">
		<nav class={{showInputCtrls}} id="edit-nav">
			<div class="brand">
				<a href="/"><img src="/images/via-logo-small.png" alt=""></a>
				<span><b>admin</b></span>
			</div>
			<div class="login-ctrls {{isLoggedIn}}">
			{{#if currentUser}}
				<div class="login-button" id="show-login-ctrls-button">
					{{currentUser.username}} <span class="icon-angle-right icon-90"></span>
				</div>
				<button id="logout-button">logout</button>
			{{else}}
				{{#if loggingIn}}
					<div id="logging-in">logging in...</div>
				{{else}}
					<div class="login-button" id="show-login-ctrls-button">
						login <span class="icon-angle-right icon-90"></span>
					</div>
					<div class="login-fields">
						<form action="">
							<div class="login-input-container {{showUsernameInput}}" id="username-field">
								<input class="login-input" type="text" name="username-input">
								<label class="login-input-label" for="username-input">
									<span class="input-label-content lg-screen">username</span>
									<span class="input-label-content sm-screen">user</span>
								</label>
							</div>
							<div class="login-input-container {{showPasswordInput}}" id="password-field">
								<input class="login-input" type="password" name="password-input">
								<label class="login-input-label" for="password-input">
									<span class="input-label-content lg-screen">password</span>
									<span class="input-label-content sm-screen">pass</span>
								</label>
							</div>
							<button id="login-submit">log in</button>
						</form>
					</div>
				{{/if}}
			{{/if}}
			<div id="login-touch-area"></div>
			</div>
		</nav>
		{{#if currentUser}}
			<div class="tab-bar">
				{{#each getTabs}}
					<a href="/edit/{{tabName}}">
						<div class="tab {{isActiveTabClass}}" id="edit-{{tabName}}-tab">{{tabName}}</div>
					</a>
				{{/each}}
			</div>
			<div class="tab-content">
				{{>Template.dynamic template=getTabTemplate}}
			</div>
		{{else}}
			<div class="login-msg-container">
				<div class="login-msg">
					<h2>please login to make changes</h2>
					<img src="/images/via-logo-small.png" alt="">
				</div>
			</div>
		{{/if}}
		{{> growler}}
	</div>
</template>