<template name="footer">
	<div class="via-blue section" id="footer">
		<div class="section-content">
			<div class="social-links">
				<a href="https://www.facebook.com/viagelato"><span class="icon-facebook"></span></a>
				<a href="https://instagram.com/viagelatohawaii/"><span class="icon-instagram"></span></a>
				<a href="https://twitter.com/VIAgelato"><span class="icon-twitter"></span></a>
			</div>
			<p>&copy;&nbsp;COPYRIGHT 2015 VIA GELATO. ALL RIGHTS RESERVED.</p>
		</div>
	</div>
</template>