<template name="ilima">
	<div id="ilima">
		<div class="img-holder">
			<img src="/images/ilima.jpg" alt="">
		</div>
		<div class="text-holder">
			<h3>Via Gelato</h3>
			<p>Who says you can’t eat ice cream for dinner? No worries — it’s gelato!</p>
			<p>Punahou grad Melissa Bow originally opened a food truck that made its way around urban Honolulu after moving home from New York. Her regular route was soon complemented by booths at various farmers markets around town, and in March she opened up a brick-and-mortar spot in a former Christian bookstore in Kaimuki. Artisanal flavors made with local milk and ingredients sourced from Hawaii-based farms mean the menu changes often, with fun flavors such as Salted Caramel Coffee Crumble, milk tea, cotton candy, cinnamon bun, butter pecan and Earl Grey tea.</p>
			<p>And if you just can’t commit to a dessert-only meal, a small menu of soups and sandwiches also is available. Keep in mind items are prepared in advance, however, so your options are limited as the day goes on. But there’s always plenty of gelato (and sorbetto!) to go around.</p>
			<div class="div-line"></div>
			<div>1142 12th Ave, 732-2800</div>
			<div>www.viagelatohawaii.com</div>
			<div>Closed Mondays</div>
			<div>$</div>
		</div>
	</div>
</template>