<template name="newFlavorForm">
	<div id="new-flavor-form" class="{{showNewForm}}">
		<div id="new-form-txfm">
			<div class="top-bar">
				<div class="left-form-ctrls sm-screen" id="new-form-ctrls">
					<button class="btn-no-line cancel-create-flavor">
						<span class="icon-arrow icon-180"></span>
						<span class="mobile-back-action-title">cancel</span>
					</button>
				</div>
				<div class="form-title">
					<h3>New Flavor</h3>
				</div>
				<div class="right-form-ctrls" id="new-form-ctrls">
					<button class="btn-line" id="create-flavor">create</button>
					<button class="btn-line lg-screen cancel-create-flavor">cancel</button>
				</div>
			</div>
			<form action="" class="flavor-form-content">
				<div class="row">
					<div class="col-sm-4 img-uploader-container">
						<div class="new-flavor-img-preview">
							{{> imgUploader}}
						</div>
						<h3>filename.ext</h3>
					</div>
					<div class="col-sm-8">
						<div class="new-flavor-name form-item">
							<label for="new-flavor-name">name</label>
							<input type="text" name="new-flavor-name">
						</div>
						<div class="new-flavor-textarea form-item">
							<label for="new-flavor-descript">description</label>
							<textarea name="new-flavor-descript" id="" cols="30" rows="10"></textarea>
						</div>
						<div class="form-item">
							<label for="season-selector">seasonal</label>
							<span class="toggle">
								<span>yes</span>
								<span>no</span>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>