<template name="newFlavorForm">
	<div id="new-flavor-form" class="edit-form-container {{showNewForm}}  {{isInEditMode}}">
		<div id="new-form-txfm">
			<div class="top-bar">
				<div class="left-form-ctrls sm-screen new-form-ctrls">
					<button class="btn-no-line cancel-create-flavor">
						<span class="icon-arrow icon-180"></span>
						<span class="mobile-back-action-title">cancel</span>
					</button>
				</div>
				<div class="form-title">
					<h3 class="form-title-text">{{getFlavorName}}</h3>
				</div>
				<div class="right-form-ctrls new-form-ctrls {{isDirty}}">
					<button class="btn-line" id="submit-flavor-form">{{getCreateStatus}}</button>
					<button class="btn-line lg-screen cancel-create-flavor">cancel</button>
				</div>
			</div>
			<form action="" class="via-edit-form via-form-content">
				<div class="row">
					<div class="col-sm-4 img-uploader-container">
						<div class="new-flavor-img-preview">
							{{> imgUploader parent=passParentRef s3Folder="flavors" resolutions=getResolutions}}
						</div>
						<h3 class="new-flavor-file-name  {{getUploadStatus}}">{{getFlavorFileName}}</h3>
					</div>
					<div class="col-sm-8">
						<div class="new-flavor-name form-item {{isInvalid}}" id="flavor-name-field">
							<label for="new-flavor-name">name</label>
							<input class="form-input" type="text" name="new-flavor-name" id="new-flavor-name-input">
						</div>
						<div class="new-flavor-textarea form-item">
							<label for="new-flavor-descript">description</label>
							<textarea name="new-flavor-descript" id="new-flavor-descript" cols="30" rows="10"></textarea>
						</div>
						<div class="form-item">
							<label for="season-selector">seasonal</label>
							<span class="toggle">
								<span>yes</span>
								<span>no</span>
							</span>
						</div>
					</div>
				</div>
				<div id="delete-flavor">
					<button class="btn-line flex-parent-row">
						<span class="icon-trash-bin">DELETE FLAVOR</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</template>