<template name="packagesModal">
	<div class="section modal" id="packagesModal">
		<div class="section-header">Packages</div>
		<div class="tab-nav">
			<button class="{{ isActive 'basic'}}">BASIC</button>
			<button class="{{ isActive 'deluxe'}}">DELUXE</button>
		</div>
		<div class="section-content">
			<div class="catering-modal-price">$300/hr</div>
			<div>
				<strong>Included:</strong>
				<p>Chocolate, Vanilla</p>
			</div>
			<div class="row text-left">
				<div class="col-xs-6">
					<strong>Gelato choice (pick 2)</strong>
					<ul class="no-bull">
						<li>Peanut Butter</li>
						<li>Milk tea</li>
						<li>Fluorescent frosting</li>
						<li>Black Sesame</li>
						<li>Green Tea</li>
						<li>Cotton Candy</li>
						<li>Salted Caramel Fudge Swirl</li>
						<li>Snickerdoodle</li>
						<li>Coffee</li>
						<li>Butter Pecan</li>
						<li>Cinnamon Bun</li>
					</ul>
				</div>
				<div class="col-xs-6">
					<strong>Sorbet choice (pick 2)</strong>
					<ul class="no-bull">
						<li>Lilikoi</li>
						<li>Guava</li>
						<li>POG</li>
						<li>Haupia</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="section-footer">
			ONE HOUR MINIMUM &bull; AFTER ONE HOUR TIME IS PRO_RATED
		</div>
	</div>
</template>