<template name="packagesModal">
	<div class="section modal" id="packagesModal">
		<div class="section-header">Packages</div>
		<div class="tab-nav">
			<span class="btn-underline-holder" id="basic-package-button">
				<button class="btn-underline {{ isActive 'basic'}}">BASIC</button>
			</span>
			<span class="btn-underline-holder" id="deluxe-package-button">
				<button class="btn-underline {{ isActive 'deluxe'}}">DELUXE</button>
			</span>
			
		</div>
		<div class="section-content">
			<div class="modal-packages-holder">
				<div class="modal-packages {{activePackage}}">
				{{> packageBasic}}
				{{> packageDeluxe}}
				</div>
			</div>
		</div>
		<div class="modal-close-icon">
			<div class="icon-close"></div>
		</div>
	</div>
</template>