<template name="packageDeluxe">
	<div class="modal-package">
		<div class="catering-modal-price">$400/hr</div>
		<div style="margin-bottom:20px;">
			<strong>Largest number of choices.</strong>
			<p class="half-top-margin">Choose any 6 flavors</p>
		</div>
		<div class="flex-parent-row">
			<div class="flex-child-expand deluxe-choice">
				<ul class="no-bull">
					<li>Mint Chip</li>
					<li>Straciatella chocolate chip</li>
					<li>Peanut butter cookie</li>
					<li>Oatmeal cookie ala mode</li>
					<li>Salted caramel w/chocolate covered espresso beans</li>
					<li>Earl Grey</li>
					<li>Salted Caramel w/coffee crumble</li>
					<li>Strawberries & Cream</li>
					<li>Caramel w/caramel cuts</li>
					<li>PB&amp;J</li>
					<li>Coffee w/chocolate covered espresso beans</li>
					<li>Peppermint Oreo</li>
					<li>Strawberry ume</li>
					<li>Lilikoi shiso sorbetto</li>
					<li>Guava shiso sorbetto</li>
					<li>Lihing Shiso sorbetto</li>
					<li>Strawberry haupia swirl (sorbetto)</li>
				</ul>
			</div>
		</div>
		<div class="caveat">
			<strong>ONE HOUR MINIMUM &bull; AFTER ONE HOUR TIME IS PRO-RATED</strong>
		</div>
	</div>
</template>