<template name="pressSlide">
	<div class="slide-holder {{getOrientation}}">
		<a class="press-lightbox-img" href="{{images.standard_resolution.url}}">
			<div class="press-img-cropper">
				<svg width="100%" height="{{getSvgHeight}}" viewBox="{{getSvgVB svgId}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
				    <defs>
				        <clipPath id="{{_id}}">
						    <path d="{{getSvgPath svgId}}" style="fill:white;"/>
				        </clipPath>
				    </defs>
				    <g style="clip-path: url(#{{_id}});">
				    	<image xlink:href="{{images.low_resolution.url}}" x="0" y="0" height="100%" width="100%"/>
				    </g>
				    <g>
				    	<image xlink:href="{{frame}}" x="0" y="0" height="100%" width="100%"/>
				    </g>
				</svg>
			</div>
		</a>
		<div class="press-pub-title">
			<h5>{{publication}}</h5>
		</div>
	</div>
</template>