<template name="slideshow">
	<div class="via-yellow" id="slideshow">
		<div id="slickSlides">
			<div class="slide"><img src="images/via_slideshow_1.jpg" alt=""></div>
			<div class="slide"><img src="images/via_slideshow_2.jpg" alt=""></div>
			<div class="slide"><img src="images/via_slideshow_3.jpg" alt=""></div>
			<div class="slide"><img src="images/via_slideshow_4.jpg" alt=""></div>
			<div class="slide"><img src="images/via_slideshow_5.jpg" alt=""></div>
		</div>
		<div class="abs-full-width">
			<div id="openSign" class="handwriting">
				We&apos;re Open
			</div>
		</div>
		<div class="lines">
			<img src="images/line2.svg" alt="">
		</div>
	</div>
</template>