<template name="slideshow">
	<div class="via-yellow" id="slideshow">
		<div id="slideshow-arrow-holder">
			<div id="slideshow-prev-arrow"></div>
			<div id="slideshow-next-arrow"></div>
		</div>
		<div id="slickSlides">
			{{#each getSlideshowImgs}}
				<div class="slide {{somethingToLog}}" style="background-image: url('{{this}}');"></div>
			{{/each}}
		</div>
		<div class="abs-full-width">
			<div id="openSign">
				<img src="/images/paperNote.svg" alt="">
				<div class="open-text-container">
					<div class="open-text">
						<div class="open-msg handwriting">Open today!</div>
						<div class="open-hours">11:00 AM - 10:00 PM</div>
					</div>
				</div>
			</div>
		</div>
		<div class="lines">
			<img src="images/line2.svg" alt="">
		</div>
	</div>
</template>